@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.maateen.me/kalpurush/font.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Mukta", sans-serif;
}
:root {
  --black: #000;
  --transparent-black: #000000c0;
  --nav-top: hsla(0, 0%, 100%, 0.8);
  --white: #fff;
  --yellow: #fcb414;
  --header-shadow: rgba(0, 0, 0, 0.15);
  --gray: #ddd;
  --dark-gray: #858585;
  --search-box: #f7f7f7;
  --red: #d30000;
  --bg-gray: #f6f6f6;
  --scroll-bar-track: #f1f1f1;
  --scrollbar-thumb: #808080;
  --scrollbar-thumb-hover: #9b9b9b;
  --footer-bg: #1e1e1e;
  --btn-green: #00c200;
  --mobile-scrollbar-thumb: #fcb414;
}
body {
  background-color: var(--white);
}
/* width */
body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
body::-webkit-scrollbar-track {
  background: var(--scroll-bar-track);
  border-radius: 12px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  transition: all 0.3s ease-in-out;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

/* tooltip styles */
.tooltip-arrow {
  &::before {
    border-bottom-color: var(--yellow) !important;
    border-top-color: var(--yellow) !important;
  }
}
.tooltip-inner {
  color: var(--black);
  font-weight: 600;
  background-color: var(--yellow) !important;
}
// title styles here
@mixin pro_title {
  > .pro_title {
    margin-bottom: 50px;
    > h2 {
      align-items: center;
      display: flex;
      // flex-flow: row wrap;
      justify-content: space-between;
      position: relative;
      width: 100%;
      > b {
        background-color: currentColor;
        display: block;
        flex: 1;
        height: 2px;
        opacity: 0.1;
      }
      > span {
        margin: 0 15px;
        font-weight: bold;
        font-family: "Kalpurush", sans-serif;
      }
    }
  }
}
// product styles here
@mixin pro {
  > .pro {
    > .img_pro {
      position: relative;
      overflow: hidden;
      > a {
        display: block;
        > img {
          width: 100%;
        }
      }
      > .wish_list {
        position: absolute;
        top: 2%;
        right: 2%;
        z-index: 9;

        > a {
          border-radius: 50%;
          padding: 7px;
          border: 2px solid var(--gray);
          text-decoration: none;
          display: flex;
          color: var(--gray);
          justify-content: center;
          align-items: center;
          transition: all 0.3s ease-in-out;
          opacity: 0;
          visibility: hidden;
          &:hover {
            color: var(--white);
            background-color: var(--red);
            border: 2px solid var(--red);
          }
        }
      }
      > .quick_view {
        position: absolute;
        left: 0;
        bottom: -60px;
        width: 100%;
        transition: all 0.3s ease-in-out;
        > a {
          display: block;
          text-decoration: none;
          color: var(--white);
          padding: 0;
          width: 100%;
          text-align: center;
          background-color: var(--transparent-black);
        }
      }
      &:hover {
        > .quick_view {
          bottom: 0px;
        }
        > .wish_list {
          > a {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
    > .article_section {
      > article {
        font-family: "Kalpurush", sans-serif;

        > :nth-child(1) {
          color: var(--dark-gray);
          opacity: 0.8;
          font-size: 15px;
        }
        > :nth-child(2) {
          > a {
            text-decoration: none;
            color: var(--black);
            font-size: 14px;
            font-weight: 500;
            transition: all 0.2s ease-in-out;
            &:hover {
              color: var(--yellow);
            }
          }
        }
      }
    }
  }
}

// <!-- ====== preloader ====== -->
#preloader {
  position: fixed;
  z-index: 999999;
  min-width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  transition: all 0.3s ease-in-out;
  > .wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: 1;
    > .circle {
      width: 20px;
      height: 20px;
      position: absolute;
      border-radius: 50%;
      background-color: #fff;
      left: 15%;
      transform-origin: 50%;
      animation: circle7124 0.5s alternate infinite ease;
      &:nth-child(2) {
        left: 45%;
        animation-delay: 0.2s;
      }

      &:nth-child(3) {
        left: auto;
        right: 15%;
        animation-delay: 0.3s;
      }
    }
    @keyframes circle7124 {
      0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
      }

      40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
      }

      100% {
        top: 0%;
      }
    }
    > .shadow {
      width: 20px;
      height: 4px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.9);
      position: absolute;
      top: 62px;
      transform-origin: 50%;
      z-index: -1;
      left: 15%;
      filter: blur(1px);
      animation: shadow046 0.5s alternate infinite ease;
      &:nth-child(4) {
        left: 45%;
        animation-delay: 0.2s;
      }

      &:nth-child(5) {
        left: auto;
        right: 15%;
        animation-delay: 0.3s;
      }
    }

    @keyframes shadow046 {
      0% {
        transform: scaleX(1.5);
      }

      40% {
        transform: scaleX(1);
        opacity: 0.7;
      }

      100% {
        transform: scaleX(0.2);
        opacity: 0.4;
      }
    }
  }
}

// <!-- ====== header ====== -->
header {
  // top header section
  > .top_sec_header {
    background-color: var(--black);
    > .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 3px 0;

      //   time and mobile number sections
      > .time_mb {
        > a {
          color: var(--nav-top);
          text-decoration: none;
          font-size: 14px;
          font-weight: bold;
          transition: all 0.3s ease-in-out;
          --bs-tooltip-bg: var(--yellow);

          &:hover {
            color: var(--white);
          }
          > .icon {
            margin-right: 3px;
          }
        }
        > :nth-child(2) {
          margin-left: 14px;
        }
      }

      //   social icons
      > .social_icon {
        display: flex;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        > div {
          display: flex;
          justify-content: center;
          align-items: center;
          > a {
            padding: 0px 1px;
            display: flex;
            font-size: 18px;
            justify-content: center;
            align-items: center;
            color: var(--white);
            text-decoration: none;
          }
        }
      }
    }
  }
  //   main navigaiton bar
  > nav {
    background-color: var(--white);
    width: 100%;
    position: relative;
    z-index: 10;
    display: block;
    box-shadow: 1px 1px 10px var(--header-shadow);
    transition: all 0.3s ease-in-out;
    > .container-lg {
      display: flex;
      justify-content: space-between;
      align-items: center;

      //   manubar toggle buttons
      > .manu_toggle {
        display: none;
        position: relative;
      }

      // website logo section

      > .logo {
        > a {
          > img {
            padding: 6px 0;
            max-height: 85px;
            width: auto;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      //   list items section
      .list_item {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        > ul {
          margin: 0;
          margin-right: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          > li {
            position: relative;
            list-style: none;
            margin: 0 9px;
            display: inline-block;

            > a {
              text-decoration: none;
              color: var(--black);
              font-weight: 700;
              font-size: 16px;
              text-transform: uppercase;
              line-height: 16px;
              transition: all 0.3s ease-in-out;
              > span {
                font-size: 16px;
                > i {
                  transition: all 0.3s ease-in-out;
                }
              }

              &:hover {
                color: var(--yellow);
              }
            }
            > ul {
              padding: 10px 30px;
              display: flex;
              flex-direction: column;
              position: absolute;
              top: calc(100% + 14px);
              left: -20%;
              min-width: 300px;
              background-color: var(--white);
              border: 2px solid var(--gray);
              box-shadow: 1px solid var(--header-shadow);
              transition: all 0.3s ease-in-out;
              opacity: 0;
              visibility: hidden;
              > li {
                list-style: none;
                border-bottom: 1px solid var(--gray);
                padding: 10px 0;
                > a {
                  margin: 0 10px;
                  text-decoration: none;
                  color: var(--dark-gray);
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    color: var(--yellow);
                  }
                }
              }
              > :nth-last-child(1) {
                border-bottom: none;
              }
              &::after {
                border-left: 2px solid var(--gray);
                border-top: 2px solid var(--gray);
                content: "";
                height: 16px;
                width: 16px;
                background-color: var(--white);
                left: 15%;
                transform: translateY(-50%) rotate(45deg);
                top: 0;
                pointer-events: none;
                position: absolute;
                z-index: 10;
                transition: all 0.3s ease-in-out;
              }
            }
            &:hover {
              > ul {
                opacity: 1;
                visibility: visible;
              }
              > a {
                > span {
                  > i {
                    transform: rotate(360deg);
                  }
                }
              }
            }
          }
        }
        // search input
        > .search {
          > form {
            > .style_search {
              position: relative;
              height: max-content;
              > input {
                border: 1px solid var(--black);
                border-radius: 32px;
                border: 1px solid var(--gray);
                padding: 5px 10px;
                background-color: var(--search-box);
                font-size: 14px;
                min-width: 200px;
                font-weight: 500;
                &:focus {
                  outline: none;
                }
                &::placeholder {
                  color: #acabab;
                  opacity: 2;
                }
              }
              > button {
                position: absolute;
                display: flex;
                justify-content: center;
                align-items: center;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                border: none;
                background-color: transparent;
                > i {
                  font-size: 16px;
                  font-weight: bold;
                }
              }
            }
          }
        }
      }

      //   social media buttons
      > .social_media {
        display: flex;
        justify-content: center;
        align-items: center;
        height: max-content;
        > div {
          padding: 0 16px;
          > a {
            text-decoration: none;
            color: var(--black);
            font-size: 24px;
            display: flex;
            justify-content: center;
            align-items: center;
            vertical-align: middle;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: var(--yellow);
            }
            > span {
              font-size: 16px;
              vertical-align: middle;
              transform: translateY(3px);
            }
          }
        }
        > .user {
          border-left: 1px solid var(--gray);
        }
        > .cart {
          border-left: 1px solid var(--gray);
        }
      }
    }
  }

  //   media queries for navigation
  @media screen and (max-width: 992px) {
    > nav {
      > .logo {
        > a {
          > img {
            max-height: 70px;
            transition: all 0.3s ease-in-out;
          }
        }
      }
      > .container-lg {
        > .manu_toggle {
          cursor: pointer;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;
          > span {
            font-size: 22px;
            padding: 0 16px;
          }
        }
        > .list_item {
          padding-top: 50px;
          z-index: 10;
          background-color: var(--white);
          box-shadow: 1px 1px 10px var(--header-shadow);
          position: absolute;
          display: flex;
          justify-content: flex-end;
          align-items: flex-start;
          top: 0;
          left: 0;
          width: 0px;
          opacity: 0;
          min-height: 100vh;
          flex-direction: column-reverse;
          transition: all 0.3s ease-in-out;
          > .closebtn {
            position: absolute;
            top: 8px;
            z-index: 999;
            right: 14px;
            font-size: 22px;
            color: var(--black);
            transition: all 0.3s ease-in-out;
            &:hover {
              color: var(--yellow);
            }
          }
          > ul {
            margin: 0;
            margin-top: 20px;
            padding: 0;
            flex-direction: column;
            display: none;
            max-width: 260px;
            min-width: 260px;
            justify-content: flex-start;
            align-items: flex-start;
            transition: all 0.6s ease-in-out;
            > li {
              margin: 0;
              max-width: 260px;
              min-width: 260px;
              padding: 10px 20px;
              border-top: 1px solid var(--gray);
              transition: all 0.3s ease-in-out;
              > a {
                color: var(--dark-gray);
                font-weight: 500;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                > span {
                  font-size: 30px;
                }
                > p {
                  padding-right: 6px;
                }
              }
              &:hover {
                background-color: #ebebeb;
                > a {
                  color: var(--black);
                }
              }
              > .social_icon_list {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                vertical-align: middle;
                > div {
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  > a {
                    padding: 0px 1px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: var(--dark-gray);
                    text-decoration: none;
                    font-size: 22px;
                  }
                }
              }
              > ul {
                padding: 20px 50px;
                position: relative;
                width: fit-content;
                background-color: transparent;
                border: none;
                box-shadow: none;
                transition: all 0.3s ease-in-out;
                display: none;
                opacity: 1;
                visibility: visible;
                > li {
                  border-bottom: none;
                  padding: 4px 0;
                  > a {
                    margin: 0 10px;
                    text-decoration: none;
                    color: var(--dark-gray);
                    transition: all 0.3s ease-in-out;
                    &:hover {
                      color: var(--yellow);
                    }
                  }
                }
                > :nth-last-child(1) {
                  border-bottom: none;
                }
                &::after {
                  display: none;
                }
              }
            }
          }
          // search input
          > .search {
            margin: 10px 30px;
          }
        }
      }
    }
  }
}

// <!-- ====== hero image section ====== -->
.hero_img {
  width: 100%;
  height: max-content;
  > img {
    min-width: 100%;
    max-height: 650px;
    object-fit: cover;
  }
}

// <!-- ====== popular product section ====== -->
.product {
  margin: 50px 0;
  > .container-lg {
    @include pro_title();
    > .grid_pro {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 16px;

      // include the product styles here
      @include pro();

      @media screen and (max-width: 950px) {
        grid-template-columns: repeat(3, 1fr);
      }
      @media screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

// <!-- ====== top category section ====== -->
.top_category {
  padding: 50px 0 100px;
  background: var(--bg-gray);
  > .container-lg {
    @include pro_title();
    > .pro_title {
      margin-bottom: 20px !important;
    }
    > .grid_category {
      display: flex;
      flex-wrap: wrap;
      gap: 25px 0;
      justify-content: space-around;
      margin: auto !important;
      > .category {
        > a {
          display: block;
          > img {
            display: inline-block;
            height: auto;
            max-width: 120px;
            vertical-align: middle;
          }
        }
        > strong {
          margin-top: 14px;
          display: block;
          width: 100%;
          text-align: center;
          > a {
            text-decoration: none;
            text-align: center;
            color: var(--black);
            font-family: "Kalpurush", sans-serif;
            font-size: 22px;
            transition: all 0.3s ease-in-out;
          }
        }
        &:hover {
          > strong {
            > a {
              color: var(--yellow);
            }
          }
        }
      }
    }
  }
}

// <!-- ====== info about product section ====== -->
.info_pro {
  padding: 50px 0;
  > .container-lg {
    @include pro_title();
    // grid video content
    > .grid_video {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      > .video {
        padding: 20px;
        min-height: 270px;
        max-height: 270px;
      }
    }

    @media screen and (max-width: 520px) {
      > .grid_video {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        > .video {
          min-height: 240px !important;
        }
      }
    }
    @media only screen and (min-width: 521px) and (max-width: 920px) {
      > .grid_video {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        > .video {
          min-height: 250px !important;
        }
      }
    }
  }
}

// <!-- ====== footer ====== -->
footer {
  background-color: var(--footer-bg);
  > section {
    padding-top: 18px;
    > div {
      > div {
        > div {
          > h6 {
            text-transform: uppercase;
            font-size: 1.2rem;
            position: relative;
            &::before {
              content: "";
              height: 3px;
              width: 30px;
              background-color: var(--dark-gray);
              position: absolute;
              bottom: -42%;
              left: 0;
            }
          }
          > p {
            margin: 0;
            > a {
              text-decoration: none;
              color: var(--white);
              line-height: 35px;
              border-bottom: 1px solid var(--dark-gray);
              transition: all 0.3s ease-in-out;
              &:hover {
                color: var(--yellow);
                border-bottom: 1px solid var(--yellow);
              }
            }
          }
        }
      }
    }
  }

  // copyright
  > .copyright {
    margin-top: 30px;
    background-color: var(--black);
    color: var(--dark-gray);
    font-weight: 700;
    line-height: 40px;
    > a {
      text-decoration: none;
    }
  }
}
// login modal
#loginModal {
  > .modal-dialog {
    > .modal-content {
      > .modal-header {
        border: none;
        .btn-close:focus {
          outline: 0;
          box-shadow: none;
          opacity: none;
        }
      }
      > .modal-body {
        > ul {
          > li {
            > button {
              color: var(--black);
              font-weight: 600;
              font-size: 20px;
              text-transform: uppercase;
              letter-spacing: 2px;
            }
            > button.active {
              color: var(--white);
              background-color: var(--yellow);
            }
          }
        }
        > .tab-content {
          > .tab-pane {
            > form {
              > div {
                width: 100%;
                > a {
                  text-decoration: none;
                  color: var(--black);
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    color: var(--yellow);
                  }
                }
                > span {
                  font-size: 17px;
                  color: var(--black);
                  text-transform: uppercase;
                  font-weight: 600;
                  letter-spacing: 1px;
                }
                > .form-check {
                  width: max-content;
                  display: inline-block;
                  margin: 6px;
                  > input {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    &:focus {
                      box-shadow: none;
                      background-color: var(--yellow);
                      border-color: var(--yellow);
                    }
                    &:checked {
                      box-shadow: none;
                      background-color: var(--yellow);
                      border-color: var(--yellow);
                    }
                  }
                  > label {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
                > label {
                  > span {
                    font-size: 17px;
                    color: var(--black);
                    text-transform: uppercase;
                    font-weight: 600;
                    letter-spacing: 1px;
                  }
                }
                > input {
                  width: 100%;
                  border: 1px solid var(--gray);
                  padding: 4px 12px;
                  margin-bottom: 20px;
                  transition: all 0.3s ease-in-out;
                  &:focus {
                    outline: none;
                    border: 1px solid var(--yellow);
                  }
                }
                > #remember_me {
                  width: auto;
                }
                > .remember {
                  padding: 0px 5px;
                }
                > button {
                  background-color: var(--yellow);
                  color: var(--white);
                  border: none;
                  font-weight: bold;
                  font-size: 18px;
                  padding: 6px 16px;
                  text-transform: uppercase;
                  margin: 10px 0;
                  -webkit-transition: all 0.3s ease-in-out;
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background-color: #e29b00;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/*----------------------------------------------------------------*/
/*----------------------product.php page styles-------------------*/
/*----------------------------------------------------------------*/

// <!-- ====== product details section ====== -->
.pro_detls {
  > .container-lg {
    > .details {
      @include pro();
      > .pro {
        > .img_pro {
          transition: all 0.3s ease-in-out;
          > .zoom_pic {
            position: absolute;
            bottom: 2%;
            left: 2%;
            transition: all 0.3s ease-in-out;
            opacity: 0;
            visibility: hidden;
            cursor: zoom-in !important;
            > a {
              border-radius: 50%;
              border: 2px solid var(--gray);
              display: flex;
              padding: 7px;
              transition: all 0.3s ease-in-out;
              text-decoration: none;
              cursor: zoom-in !important;
              > i {
                color: var(--gray);
                font-size: 20px;
                transition: all 0.3s ease-in-out;
              }
            }
            &:hover {
              > a {
                border: 2px solid var(--white);
                background-color: var(--white);
                > i {
                  color: var(--black);
                }
              }
            }
          }
          &:hover {
            > .zoom_pic {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
      > .pro_order {
        > .paigination {
          > a {
            text-decoration: none;
            color: var(--dark-gray);
            text-transform: uppercase;
            font-size: 15px;
            &:hover {
              color: var(--black);
            }
          }
          > span {
            color: var(--dark-gray);
            font-size: 14px;
          }
        }
        > h3 {
          position: relative;
          padding-bottom: 16px;
          &::before {
            content: "";
            position: absolute;
            height: 3px;
            background-color: var(--gray);
            width: 30px;
            bottom: 0;
            left: 0;
          }
        }
        > .button_div {
          border-bottom: 1px dashed var(--gray);
          width: 50%;
          padding-bottom: 16px;
        }
        > .quantity_input {
          > div {
            > button {
              transition: all 0.3s ease-in-out;
              border-radius: 0;
              font-weight: bold;
              padding-top: 6px;
              padding-bottom: 6px;
              font-size: 18px;
              &:hover {
                background-color: var(--gray);
              }
            }
            > input {
              border: 1px solid var(--gray);
              border-left: none;
              width: 74px;
              &:focus {
                outline: none;
              }
            }
          }
        }
        > form {
          > .add_to_cart {
            background-color: var(--yellow);
            color: var(--white);
            border: none;
            font-weight: bold;
            font-size: 18px;
            padding: 6px 16px;
            text-transform: uppercase;
            margin: 0px 10px;
            transition: all 0.3s ease-in-out;
            &:hover {
              background-color: #e29b00;
            }
          }
        }
        > .button_buy {
          background-color: var(--btn-green);
          color: var(--white);
          border: none;
          font-weight: bold;
          font-size: 18px;
          padding: 6px 20px;
          text-transform: uppercase;
          transition: all 0.3s ease-in-out;
          &:hover {
            background-color: #009c00;
          }
        }
        > .continue_shopping {
          font-weight: 200;
          letter-spacing: 0.8px;
          font-size: 15px;
        }
        > hr {
          margin: 2px 0;
          width: 50%;
          color: var(--dark-gray) !important;
        }
        > .social_icons {
          > a {
            color: var(--dark-gray);
            border: 2px solid var(--dark-gray);
            border-radius: 50% !important;
            transition: all 0.3s ease-in-out;
          }
          > :nth-child(1) {
            &:hover {
              color: var(--white);
              background-color: #3b5998;
              border: 2px solid var(--white);
            }
          }
          > :nth-child(2) {
            &:hover {
              color: var(--white);
              background-color: #55acee;
              border: 2px solid var(--white);
            }
          }
          > :nth-child(3) {
            &:hover {
              color: var(--white);
              background: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
              );
              border: 2px solid var(--white);
            }
          }
          > :nth-child(4) {
            &:hover {
              color: var(--white);
              background-color: #0082ca;
              border: 2px solid var(--white);
            }
          }
          > :nth-child(5) {
            &:hover {
              color: var(--white);
              background-color: #c61118;
              border: 2px solid var(--white);
            }
          }
          > :nth-child(6) {
            &:hover {
              color: var(--white);
              background-color: #25d366;
              border: 2px solid var(--white);
            }
          }
        }
      }
    }
    > .tab_contents {
      margin-top: 100px;
      border-top: 1px solid var(--gray);
      > ul {
        justify-content: center;
        align-items: center;
        > li {
          > button {
            border-top: 2px solid transparent;
            background-color: transparent !important;
            color: var(--black);
            opacity: 0.56;
            font-weight: bold;
            border-radius: 0;
            font-size: 15px;
            letter-spacing: 0.5px;
          }
          .active {
            border-top: 2px solid var(--black);
            background-color: transparent !important;
            color: var(--black);
            font-weight: bold;
            opacity: 1;
          }
        }
      }
    }
  }
}

// <!-- ====== related products section ====== -- >
.related_pro {
  margin-top: 20px;
  > .container-lg {
    padding: 12px 0;
    border-top: 1px solid var(--gray);
    > h5 {
      text-transform: uppercase;
      font-weight: 800;
      margin-bottom: 16px;
    }
    // swiper js style
    > .swiper {
      width: 100%;
      height: 100%;
      > .swiper-wrapper {
        margin-bottom: 50px !important;
        > .swiper-slide {
          text-align: center;
          font-size: 18px;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;

          // product styles here
          @include pro();
        }
      }
      // swiper button styles
      > .swiper-button-next {
        right: -10%;
        opacity: 0;
        visibility: none;
      }
      > .swiper-button-prev {
        left: -10%;
        opacity: 0;
        visibility: none;
      }
      > .swiper-button-next,
      > .swiper-button-prev {
        background-color: var(--white);
        background-color: rgba(255, 255, 255, 0.671);
        z-index: 1;
        color: var(--black) !important;
        fill: var(--black) !important;
        stroke: var(--black) !important;
        height: 100%;
        top: 0;
        width: 18px !important;
        transition: all 0.3s ease-in-out;
        &::after {
          font-size: 16px !important;
          font-weight: 900;
        }
      }

      // paigination styles here
      > .swiper-pagination {
        > .swiper-pagination-bullet {
          width: 10px;
          height: 10px;
          color: var(--black);
          opacity: 0.2;
          position: relative;
          background: var(--black);
          transition: all 0.3s ease-in-out;
        }
        > .swiper-pagination-bullet-active {
          background-color: var(--black) !important;
          width: 10px;
          height: 10px;
          opacity: 1;
          transition: all 0.3s ease-in-out;
          &::before {
            opacity: 1;
          }
        }
      }
      &:hover {
        > .swiper-button-next {
          right: 0;
          opacity: 1;
          visibility: visible;
        }
        > .swiper-button-prev {
          left: 0;
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}

/*----------------------------------------------------------------*/
/*----------------------cart.php page styles-------------------*/
/*----------------------------------------------------------------*/
.checkout_page_title {
  > nav {
    > ul {
      gap: 20px;
      @media only screen and (max-width: 500px) {
        > li {
          display: none;
        }
        > li.active {
          display: block;
        }
      }
      > li {
        list-style: none;
        > a {
          text-decoration: none;
          color: var(--gray);
          text-transform: uppercase;
          font-size: 22px;
          letter-spacing: 1px;
          &:hover {
            color: var(--black);
          }
        }
      }
      > li.active {
        > a {
          color: var(--black);
        }
      }
    }
  }
}
.cart-container {
  > .row {
    > :nth-child(1) {
      border-right: 1px solid var(--gray);

      /* width */
      .table-product-show::-webkit-scrollbar {
        height: 5px;
      }
      /* Track */
      .table-product-show::-webkit-scrollbar-track {
        background: var(--scroll-bar-track);
        border-radius: 12px;
      }

      /* Handle */
      .table-product-show::-webkit-scrollbar-thumb {
        background: var(--mobile-scrollbar-thumb);
        transition: all 0.3s ease-in-out;
        border-radius: 12px;
      }

      /* Handle on hover */
      .table-product-show::-webkit-scrollbar-thumb:hover {
        background: var(--scrollbar-thumb-hover);
        border-radius: 12px;
      }

      > table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
        > tbody {
          > tr {
            > td {
              // all columns
              > div {
                > span {
                  > a {
                    text-decoration: none;
                    color: var(--black);
                    font-weight: 600;
                    font-family: "Kalpurush", sans-serif;
                    &:hover {
                      color: var(--yellow);
                    }
                  }
                }
              }
              // quantity column
              > .quantity_input {
                > button {
                  transition: all 0.3s ease-in-out;
                  border-radius: 0;
                  font-weight: bold;
                  padding-top: 6px;
                  padding-bottom: 6px;
                  font-size: 18px;
                  &:hover {
                    background-color: var(--gray);
                  }
                }
                > input {
                  border: 1px solid var(--gray);
                  border-left: none;
                  width: 50px;
                  &:focus {
                    outline: none;
                  }
                }
              }
            }
          }
        }
      }
    }
    > :nth-child(2) {
      > form {
        > table {
          > tbody {
            font-family: "Kalpurush", sans-serif;
            > tr {
              > td {
                > button {
                  margin: 16px 0;
                  width: 100%;
                  border: none;
                  background-color: var(--yellow);
                  color: var(--white);
                  padding: 6px;
                  font-size: 18px;
                  font-weight: bold;
                  &:hover {
                    background-color: #e29b00;
                  }
                }
                > input {
                  margin: 16px 0;
                  width: 100%;
                  border: 1px solid var(--gray);
                  padding: 7px 12px;
                  &:focus {
                    outline: none;
                    box-shadow: inset 0px 0px 15px -8px rgb(0 0 0);
                  }
                }
                > .apply_cupon {
                  margin: 16px 0;
                  width: 100%;
                  border: none;
                  color: var(--white);
                  padding: 6px;
                  font-size: 18px;
                  font-weight: bold;
                  background-color: var(--black);
                  transition: all 0.3s ease-in-out;
                  &:hover {
                    background-color: var(--dark-gray);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 767px) {
  .cart-container {
    > .row {
      > :nth-child(1) {
        border-right: 0;
      }
    }
  }
}
